
ul {
    list-style-type: none; 
    text-decoration: none;
   margin: 0;
   padding: 0;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    background-color: #f0f0f0;
    width: 100%; 
    height: 8vh; 
}



ul li  {
    text-align: center;
     
    font-size: 3vh; 
}

ul li a:hover {
    background-color: #e6e1e1; 
    padding: 14px 20px; 
    color: rgb(0, 0, 0);
}


#user-name {
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #000000; 


}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section img{

    width: 32%;
    height: 50vh;
    text-align: center;
    margin: 1vh;
    }
img{
    box-shadow: 8px 4px rgb(112, 112, 112);
}
@media only screen and (max-width: 768px){
     section img{

        width: 100%;
        height:auto;
        text-align: center;
        margin: 1vh;
        }

}
